* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    background-color: #ecf0f3;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calc {
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 25px;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 65px);
}

input {
    grid-column: span 4;
    height: 80px;
    width: 250px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 25px;
    color: rgb(70, 70, 70);
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
}

button {
    height: 45px;
    width: 45px;
    background-color: #ecf0f3;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 35%;
    margin: 9px;
    font-size: 15px;
}